version: '3.8'

services:
  probabilidade_api:
    image: probabilidade_api:latest
    environment:
      - DART_FROG_ENV=production
    networks:
      - proxy
    deploy:
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.probabilidade_api.rule=Host(`api.vmageste.com.br`)"
        - "traefik.http.routers.probabilidade_api.entrypoints=websecure"
        - "traefik.http.routers.probabilidade_api.priority=1"
        - "traefik.http.routers.probabilidade_api.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.probabilidade_api.service=probabilidade_api"
        - "traefik.http.services.probabilidade_api.loadbalancer.server.port=8080"
        - "traefik.http.services.probabilidade_api.loadbalancer.passHostHeader=1"
        - "traefik.docker.network=proxy"
    # env_file:
    #   - .env

networks:
  proxy:
    external: true
